/**
 * @file
 * SMACSS Theme
 *
 * Adds styles for St. EDF
 *
 */
 body {
  color: $grey;
 }
 #main, #footer {
  background: none repeat scroll 0 0 $white;
  margin: 0 5px;
 }
.front {
  h1.page__title, .field-name-body {
    display: none;
  }
  #content {
    padding: 0;
  }
}
h1 {
  color: $blue;
  font-weight: 200;
}
#block-nice-menus-1 {
  ul {
    background: none repeat scroll 0 0 $darkgrey;
    z-index: 99;
    li {
      border: none;
      a {
        color: $lightgrey;
        padding: 1.2em 0;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
      }
    }
    li.active-trail a, a:hover {
      color: $yellow;
    }
    li.even {
      background: none repeat scroll 0 0 $darkgrey;
    }
    li.odd {
      background: none repeat scroll 0 0 $darkgrey;      
    }
  }
 ul.nice-menu ul {
   border: medium none;
   top: 2.75em; 
 }
 ul.nice-menu ul li {
   border: medium none;
   margin-left: 0;
   width: 15em;
  }
 ul.nice-menu ul li a {
   padding: 0.5em;
   text-align: left;
  }
 ul.nice-menu ul li a.active-trail {
   color: $white;
  }
}
#block-menu-block-1 {
  margin: 0 -5px;
  .menu-block-wrapper {
      background: none repeat scroll 0 0 $blue;    
  }
  ul {
    border-bottom: 40px solid $yellow;
    font-size: 1.25em;
    list-style: none outside none;
    margin: 0;
    padding: 1em 0 1em 1em;
    li {
      border: none;
      padding: 5px 0 5px 10px;
      list-style: none outside none;
      a {
        color: $lightblue;
        display: block;
        padding: 5px 0;
        text-decoration: none;
        line-height: 1em;
      }
      a:hover, a.active-trail {
      }
    }
    li.active-trail, li.active-trail a, a:hover, li:hover {
      background: url("../images/arrow.png") no-repeat scroll right center $blue;    
      color: $white;
    }
    li.even {
      background: none repeat scroll 0 0 $blue;
    }
    li.odd {
      background: none repeat scroll 0 0 $blue;      
    }
  }
 ul ul {
   border: medium none;
  top: 3.8em; 
 }
 ul ul li {
   border: medium none;
  }
 ul ul li a {
   padding: 0.5em;
   text-align: left;
  }
 ul ul li a.active-trail {
   color: $yellow;
  } 
}
#block-block-6 {
  h2 {
    color: $lightblue;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 1em;
  }
}

// partners layout
#block-views-partners-block-1 {
  border-top: 1px solid $grey;
  padding: 1em;
  margin-bottom: 0;
  h2 {
    font-weight: normal;
  }
  .view-footer {
    text-align: right;
    a {
      color: $grey;
      text-decoration: none;
    }
  }
/* homepage flexslider */
  .flexslider {
    background: none repeat scroll 0 0 transparent;
    border: none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: none;
    margin: 0 0 20px;
    position: relative;
  }
  .flexslider_views_slideshow_slide {
    margin: 0 4px;
  }
}
.view-id-partners.view-display-id-page {
  text-align: center;
  .views-field-field-partner-logo {
    padding: 0.25em;
  }
}
  // why st bernard layout
  #block-views-why-st-bernard-block {
    background: none repeat scroll 0 0 $darkgrey;
    color: $lightergrey;
    padding-top: 1em;
    position: relative;
    z-index: 99;
    h2 {
      background: none repeat scroll 0 0 $darkgrey;
      color: $newgrey;
      font-weight: lighter;
      margin: 1em auto;
      position: relative;
      text-align: center;
      z-index: 1;
    } 
    .view-why-st-bernard {
      border-top: 1px solid $newgrey;
      margin-top: -4.75em;
      padding-top: 4.75em;
      text-align: center;
    }
    .views-row {
      margin-bottom: 1em;
    }  
    .views-row:nth-child(1) {
      .views-field-title,
      .views-field-field-why-image,
      .views-field-field-why-tagline {
        background: none repeat scroll 0 0 #0E4C91;
      }
   }
    .views-row:nth-child(2) {
      .views-field-title,
      .views-field-field-why-image,
      .views-field-field-why-tagline {
        background: none repeat scroll 0 0 #0F529E;
      }
    }
    .views-row:nth-child(3) {
      .views-field-title,
      .views-field-field-why-image,
      .views-field-field-why-tagline {
        background: none repeat scroll 0 0 #1059AA;
      }
    }
    .views-row:nth-child(4) {
      .views-field-title,
      .views-field-field-why-image,
      .views-field-field-why-tagline {
        background: none repeat scroll 0 0 #115DB1;
      }
    }
    .views-row:nth-child(5) {
      .views-field-title,
      .views-field-field-why-image,
      .views-field-field-why-tagline {
        background: none repeat scroll 0 0 #1262BB;
      }
    }
    .views-field-title {
      color: $lightestblue;
      margin: 0 0.15em;
      font-size: 1.6em;
      text-transform: uppercase;
      letter-spacing: 0.02em;
    }
    .views-field-field-why-tagline {
      margin: 0 0.25em;
      ul {
        list-style: none inside none;
        margin: 0;
        li {
          line-height: 1.25em;
          p {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
    .views-field-field-why-image {
      margin: 0 0.25em;
      img {
        opacity: 0.2;
        filter: alpha(opacity=20); /* For IE8 and earlier */
      }
    }
    .views-field-edit-node {
      border: 1px solid $darkblue;
      margin: 0 0.25em;
    }
  }
//content bottom layout
#content-bottom {
  .block {
    a {
      color: $grey;
          text-decoration: none;
    }
    .views-field-title {
      font-weight: bold;
    }
  }
}
// board member view layout
.view-board-members {
  h3 {
    border-bottom: 1px solid;
    margin-bottom: 0.5em;
  }
  .views-column {
    padding-bottom: 1em;
  }
  .views-field-title {
    font-weight: bold;
  }
  .views-field-field-board-member-title {
    font-size: 0.9em;
    font-style: italic;
    line-height: 1.25em;
  }
}
//homepage address
#block-block-8 {
  background: none repeat scroll 0 0 $yellow;
}

// backpage address
#block-block-9 {
  font-size: 0.85em;
//  padding: 1em 0 1em 1.25em;
  h2 {
    color: $grey;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.25em;
    margin: 1em 0 0.5em -5px;
    padding: 0 1em;
  }
  p {
    line-height: 1.25em;
    margin: 0 0 0 -5px;
    padding: 0 1em;
  }
  a {
    color: $grey;
    text-decoration: none;
  }
}

//footer block 
#block-block-2 {
  border-top: 2px solid $grey;
  font-size: 0.9em;
  line-height: 1.25em;
  padding: 1.5em;
  p {
    margin: 0;
  }
}
//meanbar layout
.mean-container {
  .mean-bar {
    background: none repeat scroll 0 0 $blue;
    float: left;
    min-height: 42px;
    padding: 4px 0;
    position: relative;
    width: 100%;
    z-index: 999999;
  }
  a.meanmenu-reveal {
    z-index: 99;
  }
  .mean-nav {
    background: none repeat scroll 0 0 $blue;
    float: left;
    margin-top: 33px;
    width: 100%;
    h2 {
      color: $white;
      font-size: 1.5em;
      line-height: 1em;
      margin: auto;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 13px;
      width: 100%;
    }
  }
}
#above-header .block {
  margin-bottom: 0;
  p {
    margin: 0;
  } 
}
#block-views-header-images-block {
  background: none repeat scroll 0 0 $darkgrey;
  color: $white;
  margin-bottom: 0;
  .flexslider {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
    margin: 0;
  }

  .slides > li {display: none; -webkit-backface-visibility: hidden; background-color: transparent; text-align: center;} 
  .slides img {width: auto; display: block; margin-left: auto; margin-right: auto;}
  .flex-direction-nav {
    *height: 0;
    a {
      display: block;
      width: 40px;
      height: 40px;
      margin: -20px 0 0;
      position: absolute;
      top: 50%;
      z-index: 10;
      overflow: hidden;
      opacity: 0;
      cursor: pointer;
      color: rgba(255,255,255,0.8);
      text-shadow: 0px 0px 0 rgba(255,255,255,0.3);
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      transition: all .3s ease;
    }
    .flex-prev {
      left: -50px;
    }
    .flex-next {
      right: -50px;
      text-align: right;
    }
  }
  .flexslider:hover .flex-prev {
    opacity: 0.7;
    left: 10px;
  }
  .flexslider:hover .flex-next {
    opacity: 0.7;
    right: 10px;
  }
  .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
    opacity: 1;
  }
  .flex-direction-nav {
  .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
  }
  a:before {
    font-family: "flexslider-icon";
    font-size: 20px;
    display: inline-block;
    content: '\f001';
  }
  a.flex-next:before {
    content: '\f002';
  }
 }
  .views-field-field-homepage-image-tagline {
    padding: 1em;
    a {
      color: #fff;
      font-style: italic;
      padding-left: 1em;
    }
  }
}

//announcement layout
.view-announcements.view-display-id-page,
.view-accomplishments.view-display-id-page,
.view-edf-projects.view-display-id-page,
.view-featured-property.view-display-id-page,
.view-testimonials.view-display-id-page {
  .views-row {
    border-bottom: 1px solid $grey;
    margin: 1em 0;
    padding: 1em 0;
    h2 {
      a {
        color: $blue;
        text-decoration: none;
      }
    }
    .field-name-field-image {
      float: left;
      padding: 1.75em 1em 1em 0;
    }
  }
}

// responsive grid layout
.views-responsive-grid {
  @include zen-grid-item-base();
  @include zen-grid-container();
}
.views-responsive-grid .views-row {
  @include zen-new-row();
}
.views-responsive-grid.views-columns-2 {
  $zen-columns:  2;
  @include zen-grid-container($context: flow);
  .views-column-1 {
    @include zen-grid-item(1, 1);
  }
  .views-column-2 {
    @include zen-grid-item(1, 2);
  }
}
.views-responsive-grid.views-columns-3 {
  $zen-columns:  3;
  @include zen-grid-container($context: flow);
  //@include zen-grid-background();  
  .views-column-1 {
    @include zen-grid-item(1, 1);
  }
  .views-column-2 {
    @include zen-grid-item(1, 2);
  }
  .views-column-3 {
    @include zen-grid-item(1, 3);
  }
}
.views-responsive-grid.views-columns-4 {
  $zen-columns:  4;
  @include zen-grid-container($context: flow);
  //@include zen-grid-background();  
  .views-column-1 {
    @include zen-grid-item(1, 1);
  }
  .views-column-2 {
    @include zen-grid-item(1, 2);
  }
  .views-column-3 {
    @include zen-grid-item(1, 3);
  }
  .views-column-4 {
    @include zen-grid-item(1, 4);
  }
}
.views-responsive-grid.views-columns-5 {
  $zen-columns:  5;
  @include zen-grid-container($context: flow);
  //@include zen-grid-background();  
  .views-column-1 {
    @include zen-grid-item(1, 1);
  }
  .views-column-2 {
    @include zen-grid-item(1, 2);
  }
  .views-column-3 {
    @include zen-grid-item(1, 3);
  }
  .views-column-4 {
    @include zen-grid-item(1, 4);
  }
  .views-column-5 {
    @include zen-grid-item(1, 5);
  }
}