/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

// We are going to create a fluid grid with 1, 3, or 5 columns and 20px gutters
// between columns (applied as 10px of left/right padding on each column).
$zen-columns:  1 !global;
$zen-gutters:  10px !global;
$zen-gutter-method: padding !global;
$zen-grid-width: 100%;

// If you need IE6/7 support for box-sizing: border-box (default), see _base.scss
//$zen-box-sizing: content-box;

// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-grid-item-base: false;
// $zen-auto-include-flow-item-base: false;

// Suppress this section of CSS for RTL layouts since it contains no LTR-specific styles.
@if $zen-switch-direction == false {
  
/**
 * Center the page.
 *
 * For screen sizes larger than 1200px, prevent excessively long lines of text
 * by setting a max-width.
 */
#page {
  //@include zen-grid-background();
}
#page,
.region-bottom {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/* Apply the shared properties of grid items in a single, efficient ruleset. */
#header,
#above-header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  // See the note about $zen-auto-include-grid-item-base above.
  @include zen-grid-item-base();
}

/* Containers for grid items and flow items. */
#header,
#above-header,
#main,
#footer {
  @include zen-grid-container();
}

/* Navigation bar */
@media all and (min-width: 480px) {
  #main {
    /* Move all the children of #main down to make room. */
    padding-top: $nav-height;
    position: relative;
  }
  #navigation {
    /* Move the navbar up inside #main's padding. */
    position: absolute;
    top: 0;
    height: $nav-height;
    width: $zen-grid-width;
  }
}

} // End of @if $zen-reverse-all-floats == true

/**
 * Use 3 grid columns for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {

  $zen-columns: 3;
  body {
    background: none repeat scroll 0 0 $darkergrey;
  }
  #page {
    //@include zen-grid-background();
  }
  #above-header {
    $zen-columns: 5;
    @include zen-grid-item(5, 1);
    padding-top: 2.6em;
    margin-bottom: -1.1em;
    .block {
      @include zen-grid-item(4, 1, right);      
    }
    .views-field-field-header-text {
      background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
      color: $darkgrey;
      @include zen-grid-item(1, 1, left);
      font-size: 1em;
      height: 2em;
      line-height: 1em;
      margin-bottom: -100%;
      padding: 1em 2em 0.75em 2em;
      position: absolute;
      top: 31.5%;
      width: 270px;

    }
  }
  #header {
    //@include zen-grid-background();
    $zen-columns: 5;
    .region-header {
      @include zen-grid-container($context: grid-item);
      @include zen-grid-item(5, 1, right);
    }
    h1 {
      //display: none;
      background: none repeat scroll 0 0 $darkblue;
      color: $lightblue;
      font-size: 1.75em;
      font-weight: normal;
      line-height: 1em;
      margin: 0;
      padding: 0.25em;
    }
    h2 {
      //display: none;
      color: $grey;
      font-size: 1em;
      font-weight: bold;
      line-height: 1.25em;
      margin: 0.5em 0;
      padding: 0 0.5em;
    }
    .block {
      color: $grey;
      margin: 0;
      p {
        line-height: 1.25em;
        margin: 0;
        padding: 0 0.5em;
      }
    }
    #logo {
      @include zen-grid-item(6, 1);
      overflow: hidden;
      img {
        position: relative;
        left: -5px;
      }
    }
    #block-block-6 {
      @include zen-grid-item(1, 1, left);
      position: relative;
      z-index: 10;
    }
    #block-block-1 {
      @include zen-grid-item(1, 1, left);
      @include zen-new-row();
      position: relative;
      z-index: 10;
    }
    #block-block-8 {
      @include zen-grid-item(1, 1, left);
      @include zen-new-row();
      position: relative;
      z-index: 10;
    }
    #block-views-header-images-block {
      @include zen-grid-item(5, 1, right);      
    }
    #block-block-6 {
      //background: none repeat scroll 0 0 $darkblue;
      margin-bottom: -0.475em;
      h2 {
        //display: none;
        background: none repeat scroll 0 0 $darkblue;
        color: $lightblue;
        font-size: 1.25em;
        font-weight: normal;
        line-height: 1em;
        margin: 0;
        padding: 0.25em;
      }
    }
    #block-block-8 {
      //@include zen-new-row();
      background: none repeat scroll 0 0 $yellow;
      padding: 0 0 0.9em;
      font-size: 0.75em;
    }
    #name-and-slogan {
      @include zen-grid-item(1, 1);
      position: relative;
      top: 175px;
    }
    #block-nice-menus-1 {
      @include zen-grid-container($context: grid-item);
      @include zen-grid-item(4, 2, left, $columns: 5);      
    }
    #nice-menu-1 {
      @include zen-grid-container($context: grid-item);
      @include zen-grid-item(5, 1, left, $columns: 6);
      font-size: 0.8em;
    }
    li:nth-child(1) {
      @include zen-grid-item(1, 1);
    }
    li:nth-child(2) {
      @include zen-grid-item(1, 2);
    }
    li:nth-child(3) {
      @include zen-grid-item(1, 3);
    }
    li:nth-child(4) {
      @include zen-grid-item(1, 4);
    }
    li:nth-child(5) {
      @include zen-grid-item(1, 5);
    }
    li:nth-child(6) {
      @include zen-grid-item(1, 6);
    }
    li:nth-child(7) {
      @include zen-grid-item(1, 7);
    }
  }

  // why st bernard layout
  #block-views-why-st-bernard-block {
    @include zen-grid-item-base();
    @include zen-grid-container($context: flow);
    @include zen-grid-item(5, 1, $columns: 5, $gutters: 40px);
    h2 {
    } 
    .view-why-st-bernard {
      @include zen-grid-container($context:  none);
      @include zen-grid-item(5, 1, $columns: 5);    
      margin-top: -3.75em;
      padding-top: 3.75em;
    }
    .views-row:nth-child(1) {
      @include zen-grid-item(3, 1, $columns: 3);
      @include zen-new-row();
   }
    .views-row:nth-child(2) {
      @include zen-grid-item(3, 1, $columns: 3);
      @include zen-new-row();
    }
    .views-row:nth-child(3) {
      @include zen-grid-item(3, 1, $columns: 3);
      @include zen-new-row();
    }
    .views-row:nth-child(4) {
      @include zen-grid-item(3, 1, $columns: 3);
      @include zen-new-row();
    }
    .views-row:nth-child(5) {
      @include zen-grid-item(3, 1, $columns: 3);
      @include zen-new-row();
    }
    .views-field-title {
      padding: 0.25em 1em 0;
    }
    .views-field-field-why-tagline {
      ul {
        padding: 1em 0.5em 0.5em;
        li {
          display: inline-block;
          line-height: 1.25em;
          margin: 0;
          p {
            margin: 0;
            padding: 0;
            br {
              display: none;
            }
          }
        }
      }
    }
    .views-field-field-why-image {
      padding: 1em 0 0;
    }
  }

  #content-bottom {
    $zen-columns: 3;
    //@include zen-grid-background();
    .region-content-bottom {
      padding: 0 4em;
    }
    h2 {
      color: $blue;
      font-weight: normal;
      font-size: 1.6em;
      margin-bottom: 1em;
    }
    .block {
      p {
        margin: 0.5em 3em 0.5em 0;
      }
      .views-field-title {
        margin-right: 3em;
      }
    }
    .block:nth-child(1) {
      @include zen-grid-item(3, 1);
      @include zen-new-row();
      border-bottom: 1px solid $blue;
    }
    .block:nth-child(2) {
      @include zen-grid-item(3, 1);
      @include zen-new-row();
      border-bottom: 1px solid $blue;
    }
    .block:nth-child(3) {
      @include zen-grid-item(3, 1);
      @include zen-new-row();
    }
    .block:nth-child(4) {
      @include zen-grid-item(3, 1);
      @include zen-new-row();
    }
  }

  /**
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    $zen-columns: 3;
    /* Span 2 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(2, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    /* Span 2 columns, starting in 1st column from left. */
    #content {
      @include zen-grid-item(2, 1);
    }

    /* Span 1 column, starting in 3rd column from left. */
    .region-sidebar-second {
      @include zen-grid-item(1, 3);
    }
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    /* Span 2 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(2, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }

    /* Start a new row and span all 3 columns. */
    .region-sidebar-second {
      @include zen-grid-item(3, 1);
      @include zen-grid-container($context: flow); // Since we're making every block in this region be a grid item.
      @include zen-new-row();

      /* Apply the shared properties of grid items in a single, efficient ruleset. */
      .block {
        @include zen-grid-item-base();
      }
      /* Span 1 column, starting in the 1st column from left. */
      .block:nth-child(3n+1) {
        @include zen-grid-item(1, 1);
        @include zen-new-row();
      }
      /* Span 1 column, starting in the 2nd column from left. */
      .block:nth-child(3n+2) {
        @include zen-grid-item(1, 2);
      }
      /* Span 1 column, starting in the 3rd column from left. */
      .block:nth-child(3n) {
        @include zen-grid-item(1, 3);
      }
    }
  }
}

/**
 * Use 5 grid columns for larger screens.
 */
@media all and (min-width: 960px) {

  $zen-columns: 5;

  body {
    background: none repeat scroll 0 0 $darkergrey;
  }
  #page {
    //@include zen-grid-background();
  }
  .front {
    #above-header {
      padding-top: 2.6em;
    }
  }
  #above-header {
    @include zen-grid-item(5, 1);
    padding-top: 3.6em;
    margin-bottom: -1.1em;
    .block {
      @include zen-grid-item(4, 1, right);      
    }
    .views-field-field-header-text {
      background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
      color: $darkgrey;
      font-size: 1.875em;
      @include zen-grid-item(1, 1, left);
      height: 3.25em;
      line-height: 1em;
      margin-bottom: -100%;
      padding: 1.5em 0 0 2em;
      position: absolute;
      top: 23.5%;
      width: 470px;
    }
  }
  #header {
    //@include zen-grid-background();
    .region-header {
      @include zen-grid-container($context: grid-item);
      @include zen-grid-item(5, 1, right);
    }
    h1 {
      //display: none;
      background: none repeat scroll 0 0 $darkblue;
      color: $lightblue;
      font-size: 1.75em;
      font-weight: normal;
      line-height: 1em;
      margin: 0;
      padding: 0.25em;
    }
    h2 {
      //display: none;
      color: $grey;
      font-size: 1em;
      font-weight: bold;
      line-height: 1.25em;
      margin: 0.5em 0;
      padding: 0 0.5em;
    }
    .block {
      color: $grey;
      margin: 0;
      p {
        line-height: 1.25em;
        margin: 0;
        padding: 0 0.5em;
      }
    }
    #logo {
      @include zen-grid-item(6, 1);
      overflow: hidden;
      img {
        position: relative;
        left: -5px;
      }
    }
    #block-block-6 {
      @include zen-grid-item(1, 1, left);
      position: relative;
      z-index: 10;
    }
    #block-block-1 {
      @include zen-grid-item(1, 1, left);
      @include zen-new-row();
      position: relative;
      z-index: 10;
    }
    #block-block-8 {
      @include zen-grid-item(1, 1, left);
      @include zen-new-row();
      position: relative;
      z-index: 10;
    }
    #block-views-header-images-block {
      @include zen-grid-item(5, 1, right);      
    }
    #block-block-6 {
      //background: none repeat scroll 0 0 $darkblue;
      margin-bottom: -0.475em;
      h2 {
        //display: none;
        background: none repeat scroll 0 0 $darkblue;
        color: $lightblue;
        font-size: 2em;
        font-weight: normal;
        line-height: 0.97em;
        margin: 0;
        padding: 0.25em;
      }
    }
    #block-block-8 {
      //@include zen-new-row();
      background: none repeat scroll 0 0 $yellow;
      font-size: 0.85em;
      padding: 0 0 1em;
    }
    #name-and-slogan {
      @include zen-grid-item(1, 1);
      position: relative;
      top: 175px;
    }
    #block-nice-menus-1 {
      @include zen-grid-container($context: grid-item);
      @include zen-grid-item(4, 2, left, $columns: 5);      
    }
    #nice-menu-1 {
      @include zen-grid-container($context: grid-item);
      @include zen-grid-item(5, 1, left, $columns: 6);
    }
    li:nth-child(1) {
      @include zen-grid-item(1, 1);
    }
    li:nth-child(2) {
      @include zen-grid-item(1, 2);
    }
    li:nth-child(3) {
      @include zen-grid-item(1, 3);
    }
    li:nth-child(4) {
      @include zen-grid-item(1, 4);
    }
    li:nth-child(5) {
      @include zen-grid-item(1, 5);
    }
    li:nth-child(6) {
      @include zen-grid-item(1, 6);
    }
    li:nth-child(7) {
      @include zen-grid-item(1, 7);
    }
  }
  // why st bernard layout
  #block-views-why-st-bernard-block {
    @include zen-grid-item-base();
    @include zen-grid-container($context: flow);
    @include zen-grid-item(5, 1, $columns: 5, $gutters: 40px);
    height: 425px;
    h2 {
    } 
    .view-why-st-bernard {
      @include zen-grid-container($context:  none);
      @include zen-grid-item(5, 1, $columns: 5);    
    }
    .views-row:nth-child(1) {
      @include zen-grid-item(1, 1);
   }
    .views-row:nth-child(2) {
      @include zen-grid-item(1, 2);
    }
    .views-row:nth-child(3) {
      @include zen-grid-item(1, 3);
    }
    .views-row:nth-child(4) {
      @include zen-grid-item(1, 4);
    }
    .views-row:nth-child(5) {
      @include zen-grid-item(1, 5);
    }
    .views-field-title {
      padding: 0.5em 0 0.75em;
    }
    .views-field-field-why-tagline {
      ul {
        padding: 0 0.5em 0.5em;
        li {
          line-height: 1.25em;
          margin: 1em 0;
          p {
            margin: 0;
            padding: 0;
          }
        }
        li.first {
          margin-top: 0;
        }
      }
    }
    .views-field-field-why-image {
      padding: 2em 0 0;
    }
  }
  #content-bottom {
    $zen-columns: 3;
    //@include zen-grid-background();
    .region-content-bottom {
      padding: 4em;
    }
    h2 {
      color: $blue;
      font-weight: normal;
      font-size: 1.6em;
      margin-bottom: 1em;
    }
    .block {
      min-height: 250px;
      margin-top: 1em;
      p {
        margin: 0.5em 3em 0.5em 0;
      }
      .views-field-title {
        margin-right: 3em;
      }
    }
    .block:nth-child(1) {
      @include zen-grid-item(1, 1);
    }
    .block:nth-child(2) {
     @include zen-grid-item(1, 2);
    }
    .block:nth-child(3) {
      @include zen-grid-item(1, 3);
    }
    .block:nth-child(4) {
      @include zen-grid-item(1, 1);
    }
  }
  .not-front {
    #content {
      padding: 3em;
    }
  }

  #block-views-announcements-block-1 {
    padding-right: 3em;
    .views-row {
      border-bottom: 1px solid $grey;
      margin-bottom: 1em;
      padding-bottom: 1em;
    }
    .views-field-title {
      font-size: 0.9em;      
      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
  /**
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    /* Span 4 columns, starting in 2nd column from left. */
   $zen-columns: 5;
    #content {
      @include zen-grid-item(4, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    /* Span 4 columns, starting in 1st column from left. */
    #content {
      @include zen-grid-item(4, 1);
    }

    /* Span 1 column, starting in 5th column from left. */
    .region-sidebar-second {
      @include zen-grid-item(1, 5);
    }
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    /* Span 3 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(3, 2);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1);
    }

    /* Span 1 column, starting in 5th column from left. */
    .region-sidebar-second {
      @include zen-grid-item(1, 5);
      padding-top: 7em;
      h2 {
        color: $blue;
        font-weight: 200;
        margin-bottom: 0.5em;
      }
    }
  }
}
